In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
df=pd.read_csv("/content/heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
df.drop(['age','sex'],axis=1,inplace=True)
df.head()

,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,125,212,0,1,168,0,1.0,2,2,3,0
1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,0,145,174,0,1,125,1,2.6,0,0,3,0
3,0,148,203,0,1,161,0,0.0,2,1,3,0
4,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
df.dtypes

cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [5]:
x=df.iloc[:,:-1]
x

,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0,125,212,0,1,168,0,1.0,2,2,3
1,0,140,203,1,0,155,1,3.1,0,0,3
2,0,145,174,0,1,125,1,2.6,0,0,3
3,0,148,203,0,1,161,0,0.0,2,1,3
4,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...
1020,1,140,221,0,1,164,1,0.0,2,0,2
1021,0,125,258,0,0,141,1,2.8,1,1,3
1022,0,110,275,0,0,118,1,1.0,1,1,2
1023,0,110,254,0,0,159,0,0.0,2,0,2
1024,0,120,188,0,1,113,0,1.4,1,1,3

In [6]:
y=df.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit(x_test)

In [9]:
ann=tf.keras.models.Sequential()

In [10]:
ann.add(tf.keras.layers.Dense(7,activation='relu'))

In [11]:
ann.add(tf.keras.layers.Dense(7,activation='relu'))

In [12]:
ann.add(tf.keras.layers.Dense(7,activation='relu'))

In [13]:
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [14]:
ann.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])

In [15]:
ann.fit(x_train,y_train,batch_size=20,epochs=100)

Epoch 1/100
41/41 [==============================] - 2s 2ms/step - loss: 0.6689 - accuracy: 0.5512
Epoch 2/100
41/41 [==============================] - 0s 2ms/step - loss: 0.6261 - accuracy: 0.6439
Epoch 3/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5979 - accuracy: 0.7146
Epoch 4/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5773 - accuracy: 0.7561
Epoch 5/100
41/41 [==============================] - 0s 3ms/step - loss: 0.5615 - accuracy: 0.7683
Epoch 6/100
41/41 [==============================] - 0s 3ms/step - loss: 0.5487 - accuracy: 0.7890
Epoch 7/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5368 - accuracy: 0.8110
Epoch 8/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5269 - accuracy: 0.8220
Epoch 9/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5188 - accuracy: 0.8232
Epoch 10/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5105 - accuracy: 0.8280
Epoch 11/100
41/41 [==============================] - 0s 2ms/step - loss: 0.5016 - accuracy: 0.8317
Epoch 12/100
41/41 [==============================] - 0s 2ms/step - loss: 0.4865 - accuracy: 0.8268
Epoch 13/100
41/41 [==============================] - 0s 2ms/step - loss: 0.4660 - accuracy: 0.8317
Epoch 14/100
41/41 [==============================] - 0s 3ms/step - loss: 0.4441 - accuracy: 0.8415
Epoch 15/100
41/41 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8378
Epoch 16/100
41/41 [==============================] - 0s 3ms/step - loss: 0.4173 - accuracy: 0.8427
Epoch 17/100
41/41 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8390
Epoch 18/100
41/41 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8366
Epoch 19/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3964 - accuracy: 0.8366
Epoch 20/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3937 - accuracy: 0.8463
Epoch 21/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.8305
Epoch 22/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3863 - accuracy: 0.8390
Epoch 23/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3867 - accuracy: 0.8439
Epoch 24/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3807 - accuracy: 0.8390
Epoch 25/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3855 - accuracy: 0.8439
Epoch 26/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3792 - accuracy: 0.8366
Epoch 27/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3761 - accuracy: 0.8415
Epoch 28/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8439
Epoch 29/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3693 - accuracy: 0.8402
Epoch 30/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8476
Epoch 31/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3678 - accuracy: 0.8451
Epoch 32/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3668 - accuracy: 0.8427
Epoch 33/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3611 - accuracy: 0.8549
Epoch 34/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8463
Epoch 35/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3610 - accuracy: 0.8427
Epoch 36/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3576 - accuracy: 0.8463
Epoch 37/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.8573
Epoch 38/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3533 - accuracy: 0.8500
Epoch 39/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8488
Epoch 40/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3525 - accuracy: 0.8500
Epoch 41/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8512
Epoch 42/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8598
Epoch 43/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8463
Epoch 44/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8488
Epoch 45/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8512
Epoch 46/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8500
Epoch 47/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8585
Epoch 48/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8549
Epoch 49/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3410 - accuracy: 0.8451
Epoch 50/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8561
Epoch 51/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8537
Epoch 52/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3382 - accuracy: 0.8598
Epoch 53/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3361 - accuracy: 0.8524
Epoch 54/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8561
Epoch 55/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8512
Epoch 56/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3313 - accuracy: 0.8610
Epoch 57/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8524
Epoch 58/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3324 - accuracy: 0.8549
Epoch 59/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8610
Epoch 60/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3329 - accuracy: 0.8573
Epoch 61/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3309 - accuracy: 0.8524
Epoch 62/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3298 - accuracy: 0.8561
Epoch 63/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3295 - accuracy: 0.8561
Epoch 64/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3284 - accuracy: 0.8573
Epoch 65/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3284 - accuracy: 0.8500
Epoch 66/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3265 - accuracy: 0.8573
Epoch 67/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3243 - accuracy: 0.8598
Epoch 68/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8646
Epoch 69/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8561
Epoch 70/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.8671
Epoch 71/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3264 - accuracy: 0.8524
Epoch 72/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3238 - accuracy: 0.8659
Epoch 73/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.8622
Epoch 74/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3200 - accuracy: 0.8561
Epoch 75/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3210 - accuracy: 0.8671
Epoch 76/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3183 - accuracy: 0.8634
Epoch 77/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8720
Epoch 78/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3211 - accuracy: 0.8671
Epoch 79/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3159 - accuracy: 0.8683
Epoch 80/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3161 - accuracy: 0.8671
Epoch 81/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8707
Epoch 82/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3167 - accuracy: 0.8720
Epoch 83/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3135 - accuracy: 0.8634
Epoch 84/100
41/41 [==============================] - 0s 3ms/step - loss: 0.3143 - accuracy: 0.8646
Epoch 85/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3149 - accuracy: 0.8646
Epoch 86/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3128 - accuracy: 0.8634
Epoch 87/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3156 - accuracy: 0.8646
Epoch 88/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3135 - accuracy: 0.8707
Epoch 89/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3169 - accuracy: 0.8671
Epoch 90/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3104 - accuracy: 0.8683
Epoch 91/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3112 - accuracy: 0.8659
Epoch 92/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3106 - accuracy: 0.8756
Epoch 93/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3107 - accuracy: 0.8622
Epoch 94/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3120 - accuracy: 0.8780
Epoch 95/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3083 - accuracy: 0.8659
Epoch 96/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3073 - accuracy: 0.8732
Epoch 97/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3108 - accuracy: 0.8671
Epoch 98/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3053 - accuracy: 0.8793
Epoch 99/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3089 - accuracy: 0.8695
Epoch 100/100
41/41 [==============================] - 0s 2ms/step - loss: 0.3068 - accuracy: 0.8768

In [16]:
pred=ann.predict(scaler.transform([[0	,145	,174,	0	,1,	125,	1	,2.6	,0,	0	,3]]))
if(pred>0):
  print(1)
else:
  print(0)

1/1 [==============================] - 0s 114ms/step
1

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  "X does not have valid feature names, but"

In [17]:
ann.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 84

 dense_1 (Dense)             (None, 7)                 56

 dense_2 (Dense)             (None, 7)                 56

 dense_3 (Dense)             (None, 1)                 8

=================================================================
Total params: 204
Trainable params: 204
Non-trainable params: 0
_________________________________________________________________